/compiled_circuit
/image.csv
/compiled_circuit
/image.csv
/input/**
!/input/README.md
/output/**
!/output/README.md
/powersoftau
/snarkjs_circuit
**/__pycache__/
/circuits/tiles/
/powersoftau
/snarkjs_circuit
**/__pycache__/
/circuits/tiles/
/scripts/elgamal_utils/**
!/scripts/elgamal_utils/elgamal_message.ts
!/scripts/elgamal_utils/elgamal_keys.ts
!/scripts/elgamal_utils/package.json
.vscode/
/scripts/image_ops/image_decrypt/ciminion_decrypt/bin/
/smartcontract/.env
/smartcontract/.history
/smartcontract/.hypothesis/
/smartcontract/build/
/smartcontract/reports/

/hardhat.config.js
/node_modules/*
/package.json
/package-lock.json
/circuits/benchmark/*
/cache/*
/artifacts/*
*.csv
priv
.env
envname/*
gas.txt